@import "../../../globalStyles/index.scss";

.btngruop{
    width: 100%;
    .btndash{
        width: 50%;
        @media(max-width:831px){
            width: 75%;
        }
    }
}

.info{
    p{
        color:$greyish-brown;
        font-family: SemiBoldFont;
        font-size: rem(16);
        margin-left:rem($spacing-xs)
    }  
}
.successPayment{
    position: relative;
    color:#0089d8;
    font-family: SemiBoldFont;
    font-size: rem(20);
    &::before{
        content:'P';
        font-family: SemiBoldFont;
      z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(25);
        width: 32px;
        height: 32px;
        padding-bottom:0.2em;
        background-color: #9feefa;
        color:white;
        border-radius: 50%;
        position: absolute;
        left:-23px;
    }
}