@import "../../../globalStyles/index.scss";


.currentlocation {
    
    border: "1px solid green";
        position: "absolute";
        left: - 40;
        bottom: 20;
        // bottom: 10,
        border-radius:  20;
        background-color:  "white";
        color: "#3f51b5";
        text-align:  "center";
        font-size:  16;
        width: "100px";
}